.cards {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	grid-gap: 30px;
}

.cards a:hover {
	color: #ffffff;
}

.options {
	display: flex;
	flex-direction: column;
	background-color: lightslategrey;
	align-items: center;
	justify-content: center;
	color: #fafafa;
	border-radius: 5px;
	height: 150px;
	cursor: pointer;
}

.options svg {
	font-size: 5em;
}